<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">DW Tools</title>
<link th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">DW Tools</a>
    </div>
    <div class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li th:class="${navbar} == 'ppp' ? active"><a href="#">PPP</a></li>
        <li th:class="${navbar} == 'issue' ? active"><a th:href="@{/issue}">Issues</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">张三</a></li>
        <li><a href="#">退出</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" layout:fragment="content"></div>

<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
